@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <main class="main">
            <div align="center" class="content-info">
                <h3>NUEVA COLECCION</h3>
                <h1 class="display-1">UNA NUEVA PERSPECTIVA</h1><!--Bootstrap-->
                <div class="button-content">
                    <button class="btn-toBuy">Hombres</button>
                    <button class="read-more">Mujeres</button>
                </div>
                <img src="#" alt="">
            </div>
        </main>
    </div>
